.auction {
    align-items: center;
    border: 1px solid grey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    overflow: hidden;

    &__title {
        font-weight: normal;
        margin: 10px 10px;
    }

    &__btn {
        align-self: flex-end;
        background: rgba(rgb(243, 78, 180), 0.5);
        border: none;
        bottom: 0;
        border-radius: 2px;
        cursor: pointer;
        justify-self: flex-end;
        padding: 7px;
        text-transform: uppercase;

        &--closed {
            background:rgb(255, 88, 88);
            cursor: not-allowed;
        }
    }

    &__wrapper {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: absolute;
        width: 90%;
    }

    &__timer {
        font-size: 18px;
        font-weight: bold;
    }

    &__info {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
    }

    &__price-form {
        align-self: flex-start;

        h4 {
            font-weight: normal;
            margin: 0;
        }

        label, input {
            width: 50px;
        }

        input {
            padding: 5px;
        }
    }

    &__price-submit-btn {
        background: rgba(rgb(243, 78, 180), 0.5);
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-left: 5px;
        padding: 7px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 600px) {
    .auction {
        height: 150px;
        position: relative;

        &__btn {
            position: absolute;
            bottom: 10px;
        }
    }
}