.auction {
    align-items: center;
    border: 1px solid grey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__title {
        font-weight: normal;
        margin: 10px 10px;
    }

    &__btn {
        align-self: flex-end;
        background: rgba(rgb(243, 78, 180), 0.5);
        border: none;
        bottom: 0;
        border-radius: 2px;
        justify-self: flex-end;
    }
}

@media screen and (min-width: 600px) {
    .auction {
        height: 150px;
        position: relative;

        &__btn {
            position: absolute;
            bottom: 10px;
        }
    }
}