.main-content {
    padding: 10px;

    &__user-btn-wrapper {
       display: flex;
       justify-content: center;
       width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__side {
        border: 1px solid grey;
        height: 100px;
        margin: 20px;
    }
}

@media screen and (min-width: 600px) {
    .main-content {
        &__wrapper {
            flex-direction: row;
        }
        
        &__side {
            border: 1px solid grey;
            height: 100vh;
            min-width: 150px;
            width: 20%;
        }
    }
}